@include font-face(maya, '/fonts/maya', '20171025');

.icon-sm {
    max-width: 24px;
}

.icon-md {
    max-width: 32px;
}

.icon-lg {
    max-width: 64px;
}

[class^="icon-"], [class*=" icon-"] {
    // font-size: 18px;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'maya' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e900";
}
.icon-app:before {
  content: "\e901";
}
.icon-case-studies:before {
  content: "\e902";
}
.icon-clear:before {
  content: "\e903";
}
.icon-dashboard:before {
  content: "\e904";
}
.icon-delete:before {
  content: "\e905";
}
.icon-ebooks:before {
  content: "\e906";
}
.icon-edit:before {
  content: "\e907";
}
.icon-groups:before {
  content: "\e908";
}
.icon-home:before {
  content: "\e909";
}
.icon-log-out:before {
  content: "\e90a";
}
.icon-remove:before {
  content: "\e90b";
}
.icon-search:before {
  content: "\e90c";
}
.icon-settings:before {
  content: "\e90d";
}
.icon-testimonials:before {
  content: "\e90e";
}
.icon-user:before {
  content: "\e90f";
}
.icon-videos:before {
  content: "\e910";
}
.icon-visibility:before {
  content: "\e911";
}
.icon-webcast:before {
  content: "\e912";
}
