/* Global Variables
------------------------------------------------------------------------------ */
/* Brand Colors */
/* Alert Box */
/* Layout
------------------------------------------------------------------------------ */
/* Global Styles
------------------------------------------------------------------------------ */
/* line 8, ../sass/styles.scss */
body {
  background-color: #f1f2f7;
  color: #797979;
}

/* line 14, ../sass/styles.scss */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

/* Layout
------------------------------------------------------------------------------ */
/* line 22, ../sass/styles.scss */
#wrap {
  width: 100%;
}

/* line 26, ../sass/styles.scss */
#header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1002;
  background: #fff;
  border-bottom: 1px solid #f1f2f7;
  min-height: 60px;
  padding: 0 15px;
}

/* line 36, ../sass/styles.scss */
#header .navbar-toggle {
  display: block;
  float: left;
  margin-top: 12px;
}

/* line 41, ../sass/styles.scss */
.logo {
  font-size: 21px;
  color: #2e2e2e;
  float: left;
  margin-top: 5px;
  text-transform: uppercase;
  text-decoration: none;
}

/* line 49, ../sass/styles.scss */
.logo span {
  color: #FF6C60;
}

/* line 52, ../sass/styles.scss */
#content {
  margin-left: 210px;
}

/* line 55, ../sass/styles.scss */
.wrapper {
  display: inline-block;
  margin-top: 60px;
  padding: 15px;
  width: 100%;
}

/* Content
------------------------------------------------------------------------------ */
/* line 65, ../sass/styles.scss */
#content {
  margin-left: 220px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 69, ../sass/styles.scss */
#content.navhide {
  margin-left: 0;
}

/* line 72, ../sass/styles.scss */
body.login #content {
  margin-left: 0;
}

/* line 75, ../sass/styles.scss */
body.login #nav_toggle {
  display: none;
}

/* line 77, ../sass/styles.scss */
.form-login h2.panel-heading {
  font-size: 22px;
  color: #fff;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;
  margin: 0 0 20px 0;
}

/* line 88, ../sass/styles.scss */
.panel {
  border: none;
  box-shadow: none;
}

/* line 93, ../sass/styles.scss */
.bg_primary {
  background-color: #41cac0;
}

/* line 95, ../sass/styles.scss */
.alt.bg_success {
  background-color: #aec785;
}

/* Form */
/* line 101, ../sass/styles.scss */
.form-control {
  border: 1px solid #eaeaea;
  box-shadow: none;
  padding: 10px;
  height: auto;
}

/* Sidebar
------------------------------------------------------------------------------ */
/* line 114, ../sass/styles.scss */
#sidebar {
  width: 220px;
  height: 100%;
  position: fixed;
  background: #2a3542;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 121, ../sass/styles.scss */
#sidebar.navhide {
  margin-left: -220px;
}

/* line 126, ../sass/styles.scss */
ul.sidenav {
  margin-top: 60px;
  padding: 20px 0 0 0;
  list-style: none;
}

/* line 131, ../sass/styles.scss */
ul.sidenav li {
  position: relative;
}

/* line 134, ../sass/styles.scss */
ul.sidenav li a {
  color: #aeb2b7;
  text-decoration: none;
  display: block;
  padding: 15px 0 15px 20px;
  font-size: 14px;
  outline: none;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 146, ../sass/styles.scss */
ul.sidenav li a:hover {
  background: #35404d;
  color: #fff;
}

/* line 151, ../sass/styles.scss */
ul.sidenav .glyphicon {
  padding-right: 8px;
}

/* Footer
------------------------------------------------------------------------------ */
/* 3rd Party CSS
------------------------------------------------------------------------------ */
/*button*/
/* line 171, ../sass/styles.scss */
.btn-default {
  background-color: #bec3c7;
  border-color: #bec3c7;
  color: #fff;
}

/* line 177, ../sass/styles.scss */
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background-color: #b0b5b9;
  border-color: #b0b5b9;
  color: #fff;
}

/* line 183, ../sass/styles.scss */
.btn-primary {
  background-color: #41cac0;
  border-color: #41cac0;
  color: #FFFFFF;
}

/* line 189, ../sass/styles.scss */
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  background-color: #35bdb3;
  border-color: #35bdb3;
  color: #FFFFFF;
}

/* line 195, ../sass/styles.scss */
.btn-success {
  background-color: #78cd51;
  border-color: #78cd51;
  color: #FFFFFF;
}

/* line 201, ../sass/styles.scss */
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
  background-color: #69c73d;
  border-color: #69c73d;
  color: #FFFFFF;
}

/* line 207, ../sass/styles.scss */
.btn-info {
  background-color: #58c9f3;
  border-color: #58c9f3;
  color: #FFFFFF;
}

/* line 213, ../sass/styles.scss */
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
  background-color: #40c1f1;
  border-color: #40c1f1;
  color: #FFFFFF;
}

/* line 219, ../sass/styles.scss */
.btn-warning {
  background-color: #f1c500;
  border-color: #f1c500;
  color: #FFFFFF;
}

/* line 225, ../sass/styles.scss */
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
  background-color: #d7b000;
  border-color: #d7b000;
  color: #FFFFFF;
}

/* line 231, ../sass/styles.scss */
.btn-danger {
  background-color: #ff6c60;
  border-color: #ff6c60;
  color: #FFFFFF;
}

/* line 237, ../sass/styles.scss */
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
  background-color: #ff5447;
  border-color: #ff5447;
  color: #FFFFFF;
}

/* Custom Media Queries
------------------------------------------------------------------------------ */
